<nav id="nav-3">
    <a class="link-3" style="text-shadow : 0 0 6px #fff, 0 0 20px rgb(248, 133, 133), 0 0 25px rgb(241, 163, 163), 0 0 75px #f078b4, 0 0 60px #eb6dac, 0 0 55px #e965a7, 0 0 65px #ff2d95, 0 0 85px #ff2d95;
    letter-spacing : 4px;" class="navbar-left">DIGI-CLOTHING</a>
          <a class="link-3" (click)="callHome()">
            <span class="glyphicon glyphicon-home"></span></a>     
          <a class="link-3"routerLink="/register">Register</a>
          <a  class="link-3"routerLink="/login">Login</a>
          <a  class="link-3"routerLink="/faq">Faq</a>
    
    </nav>
  
    <div class="row">
      <div class="col-sm-8">
          <div class="faq">
            <div class="faq-q">
              <span>
                <b>How do i Login?</b>
              </span>
              <p>
                You can login by clicking on the "Login" link at the top right corner of the homepage. Please provide the information in the form that appears.Then click on Login.
               </p>
            </div>
            <div class="faq-q">
              <div class="faq-q">
                <span>
                  <b>Can I change my billing address?</b>
                </span>
                <p>
                  Yes you can, provided your order has not been shipped. Mail us at digiclothing2020@gmail.com to change your order information. Please note that after your order is shipped you cannot change any details on your order.
                </p>
              </div>
              <div class="faq-q">
                  <span>
                    <b>How can I order a product?</b>
                  </span>
                  <p>
                    After selecting your product add it to the cart by clicking on "Add to Cart", then the product is added to cart,then click on "place order",your order is been placed!
                  </p>
                </div>
                <div class="faq-q">
                  <span>
                    <b>Can I know the safety taken during delivering products?</b>
                  </span>
                  <p>
                    Yes,products are delivered with taking all the sanitization precautions </p>
                </div>
                <div class="faq-q">
                  <span>
                    <b>How do I register?</b>
                  </span>
                  <p>
                   
               You can register by clicking on the "Register" link at the top right corner of the homepage. Please provide the information in the form that appears. You can review the terms and conditions.                </p>
                </div>
              
            </div>
      </div>
      <div class="col-sm-4"><br><br><br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <iframe  width="350" height="430"allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/07f8bfd8-4291-455c-b76e-5bce7bfeba54"></iframe> 
        </div>
    </div>
    
  