<div>
    <div class="topnav">
        <div>
            <a class="nav-link" (click)="callHome()">
                <span class="glyphicon glyphicon-home"></span></a>
                <a  class="link-3"routerLink="/products">Products</a>

            <a class="nav-link" (click)="showEditPopup()">Update Profile</a>
            <a class="nav-link" (click)="routeTosellProduct()">Sell Your Products</a>
            <a class="nav-link" (click)="routeToViewMyCart()"><span class="glyphicon glyphicon-shopping-cart">Cart </span></a>
            <a class="nav-link" (click)="routeToProductsAddedByMe()">Products Added</a>
            <a class="nav-link" (click)="routeToMyOrders()">Order History</a>
            <a  class="link-3"routerLink="/review">Review</a>

            <a class="nav-link" (click)="callLogOut()">Logout
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </div>
<div>
    <style>
    h6{color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 20px;  font-weight: normal;} </style>
<h6>Products</h6>
    <div class="container">
        <div class="row text-center">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" *ngFor="let product of myProducts">
                <div class="card">
                    <img class="card-img" src="http://localhost:8090/RESTAPI2018/image/{{product.imageName}}">
                    <div class="card-body">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">description:{{product.description}}</p>
                        <h5>price:&#8377;{{product.price}}</h5>
                        <p class="card-text">category:{{product.category}}</p>
                        <p class="card-text">Quantity Available:{{product.quantityAdded}}</p>
                        <p class="card-text">Size"{{product.size}}</p>
                        <button class="btn btn-primary" (click)="deleteMyProduct(product)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>